.v-text-field > .v-input__control {
	> .v-input__slot:before,
	> .v-input__slot:after {
		border-style: none !important;
	}
}

.v-input__prepend-inner,
.v-input__append-inner,
.v-select__selection--comma {
	overflow: unset !important;
	margin: auto !important;
}

.v-text-field {
	.v-input__control,
	.v-input__slot {
		border-radius: 3px !important;
	}

	.v-input__prepend-inner {
		padding-right: 15px !important;
	}

	.v-input--dense:not(.v-text-field--outlined) input {
		padding: 0 !important;
	}
}
