@font-face {
	font-family: "Discord Font";
	font-weight: 900;
	src: url("../fonts/DiscordFontBlack.woff2") format("woff2");
	font-style: normal;
}

@import "variables.scss";
@import "overrides.scss";

@import "components/animation.scss";
@import "components/figure.scss";
@import "components/images.scss";
@import "components/section.scss";
@import "components/buttons.scss";
@import "components/body.scss";
